@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Principal.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<div class="header --flex-row-ai!c">
    <div class="eye">
        <div class="ball">
            <div class="stem">
                <div class="pupil"></div>
            </div>
        </div>
    </div>

    <div class="Titulo">
        <p>Ingresar mi ubicacion</p>
        <img class="ubi" src="https://cdn-icons-png.flaticon.com/32/1483/1483336.png" />
    </div>
    <div class="buscador">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" style="margin-top:-3%;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <img src="https://cdn-icons-png.flaticon.com/32/954/954591.png" />
                </button>
            </form>
        </nav>
    </div>


    <div class="Botones">
        <div class="btn1">
            <label id="kl" style="color: white;"></label>
            <button onclick="Inicio()">
                <img src="https://cdn-icons-png.flaticon.com/32/1828/1828504.png" />
            </button>
        </div>
        <div class="btn2">
            <button>
                <img src="https://cdn-icons-png.flaticon.com/32/2098/2098544.png" />
            </button>
        </div>
    </div>


</div>

<div class="eslogan">
    <div class="cssFont_1" style="font-family:'Pacifico', cursive">!TODO YA !</div>
    <pc class="logan">Corremos por ti</pc>
</div>


<section class="Logo">
    <figure>
        <section class="img-bg"></section>
        <img src="https://vitejs.dev/logo-with-shadow.png" alt="Vite Logo" />
    </figure>
</section>

<div class="Categorias">
    <ul class="menured">
        <li>
            <a class="red1"></a>
            <div>
                <button class="btn1" onclick="alimentos()">Alimentos</button>
            </div>
        </li>
        <li>
            <a class="red2"></a>
            <div>
                <button onclick="Bebidas()">Bebidas</button>
            </div>
        </li>
        <li>
            <a class="red3"></a>
            <div>
                <button onclick="Medicamentos()">Medicamentos</button>
            </div>
        </li>
        <li>
            <a class="red4"></a>
            <div>
                <button onclick="Aseo()">Aseo</button>
            </div>
        </li>
    </ul>
</div>
<section>
    <div class="ofertas" id="ofertas">
        <h1>Inicia sesion Para ver tus productos</h1>
    </div>

 
</section>
 





<script>


    function Inicio() {
        location.href = '@Url.Action("Login","Home")'
    }
    var colors = [
        "#ED5565",
        "#FC6E51",
        "#FFCE54",
        "#2ECC71",
        "#4FC1E9",
        "#8067B7",
        "#A0D468",
        "#48CFAD",
        "#5D9CEC",
        "#AC92EC",
        "#EC87C0"
    ];
    var previous = 0;

   


        var imagenes =[
       'https://images.rappi.com/products/8b0d8c1d-9f94-4143-bda7-ece35d3f2bcb.png',
       'https://assets-prod.blackfridaycol.com/accounts/3/events/6/editions/12/promotions/59595/media/2f39bd9b-ad70-4921-b17b-2e150c6ff257.png',
        'https://compost-on.com/wp-content/uploads/2019/04/Qu%C3%A9-es-un-mercado-org%C3%A1nico-y-mercado-verde-en-M%C3%A9xico.jpg',
        'https://i.ebayimg.com/thumbs/images/g/74YAAOSwb6NiD0a3/s-l300.jpg'
        ]
    console.log(imagenes[0]);
      
      //var div= document.getElementById("ofertas");
      // for (var i = 0; i < imagenes.length; i++)
      //  {
      //      console.log(i);
      //    var img = document.createElement("img");
      //    img.src= imagenes[i];
      //    div.appendChild(img);
      //  }

 





</script>