.Titulo {
    font-family: cursive;
    font-size: 20px;
    color: aliceblue;
    margin-top: -3.5%;
    margin-left: 7%;
    align-items: flex-start;
    display: flex;
}
h1 {
    font-family: cursive;
    font-size: 21px;
    background-color: gainsboro;
    width: 30%;
    height: 10%;
    text-align: center;
    border-radius: 99px;
    position: absolute;
    margin-left: 68%;
    margin-top: 18%;
}
 

.ubi {
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
}
.Botones {
    display: flex;
    justify-content: flex-end;
    margin: 28px;
    margin-top: -4%;

}
button {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: aliceblue;
    margin: 10px;
    margin-top: -1%;
}

.buscador {
    position: absolute;
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: 40%;
    margin-top: -3.5%;
}

input {
    width: 381px;
    height: 27px;
    border-radius: 9px;
    border: aliceblue;
}




body {
    background-color: #323133;
    margin: 0;
    font-family: "Average Sans", sans-serif;
}

    body .header {
        position: fixed;
        height: 100px;
        background-color: #3C3B3D;
        box-shadow: 0 6px 20px 0 #fff;
        top: 0px;
        left: 0px;
        right: 0px;
    }

        body .header .eye {
            width: 100px;
            height: 100px;
            background-color: #FA7070;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            overflow: hidden;
            top: 0px;
            left: 0px;
            transition: background-color 0s 0.85s;
            transform: rotate(90deg);
        }

            body .header .eye.elastic {
                transition: cubic-bezier(0.64, 0.57, 0.67, 1.53) 1s;
            }

            body .header .eye .skin {
                z-index: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-animation: spawn 1s ease-in;
                animation: spawn 1s ease-in;
                -webkit-animation-delay: -0.15s;
                animation-delay: -0.15s;
                width: 142px;
                height: 142px;
                border-radius: 100%;
                opacity: 0;
            }

            body .header .eye .ball {
                z-index: 2;
                position: absolute;
                top: 25px;
                left: 25px;
                width: 50px;
                height: 50px;
                background-color: #F5F7FA;
                transform: rotate(-90deg);
                border-radius: 100%;
                -webkit-animation: blink 10s ease infinite;
                animation: blink 10s ease infinite;
                -webkit-animation-delay: -8s;
                animation-delay: -8s;
                overflow: hidden;
                cursor: pointer;
            }/*
------------------------*/
    ul .menured * {
    margin: 0 auto;
    padding: 0;
    text-indent: 0;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

ul.menured {
    list-style: none;
    width: 1800px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 3%;
}

    ul.menured li {
        position: relative;
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 51px;
        height: 50px;
        overflow: hidden;
        margin: 9px;
        padding: 10px;
        border-radius: 44px;
        border: 1px solid transparent;
        background: #fff;
        -moz-box-shadow: 1px 1px 3px #555;
        -webkit-box-shadow: 1px 1px 3px #555;
        box-shadow: 1px 1px 3px #55;
        background: #FBF2CF;
    }

        ul.menured li a[class^="red"] {
            position: absolute;
            top: 5px;
            left: 5px;
            display: block;
            width: 32px;
            height: 32px;
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

a.red1 {
    background: url(https://cdn-icons-png.flaticon.com/32/1147/1147934.png) no-repeat;

}

a.red2 {
    background: url(https://cdn-icons-png.flaticon.com/32/920/920541.png) no-repeat;
}

a.red3 {
    background: url(https://cdn-icons-png.flaticon.com/32/647/647165.png) no-repeat;
}

a.red4 {
    background: url(https://cdn-icons-png.flaticon.com/32/3130/3130292.png) no-repeat;
}

ul.menured li div {
    margin: 0px 8px 5px 38px;
    text-align: center;
}

    ul.menured li div h5 {
        text-align: left;
        text-transform: uppercase;
    }

    ul.menured li div a {
        display: inline;
        margin: 0 3px;
        font-size: 12px;
        color: #000000;
    }

ul.menured div a:hover {
    color: grey;
}

ul.menured li:hover {
    width: 240px;
}

    ul.menured li:hover a[class^="red"] {
        -moz-transform: rotate(720deg);
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
/*-------------------------*/
:root {
    --bg: hsl(0, 0%, 14%);
    --gradient: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
}

/*html,
body {
    height: 100%;
}

body {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.Logo {
    position: absolute;
    display: block;
    margin-top: 20%;
    width: 100%;
  
}
figure {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #FA7070;
    width: 100%;
    margin-left: 0%;
    margin-top: -9%;
}

    figure img,
    .img-bg {
        height: 200px;
        width: 200px;
        margin-left: 60%;
        opacity: 52%;
        transform: rotate(41deg);
    }
    

.img-bg {
    position: absolute;
    background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    border-radius: 50%;
    filter: blur(72px);
    z-index: -1;
    animation: pulse 4s cubic-bezier(0, 0, 0, 0.5) infinite;
}

.Categorias {
    display: inline-flex;
    position: absolute;
    margin-left: 1%;
    margin-top: 6%;
}

.ofertas {
    background-color: aliceblue;
    height: 45%;
    width: 95%;
    position: absolute;
    display: flex !important;
    margin-top: 24%;
    margin-left: 2.3%;
    border-radius: 29px;
    overflow-x: scroll;
    padding: 10px;

}

.imagenes {
    width: 300px;
    height: 200px;
    margin: 20px;
    margin-top: 29%;
    border: solid 1px;
    border-radius: 9px;
}


.titulosDiv{
    width:300px;
    height:250px;
    text-align:center;
    margin-left:20px;

}


.imagenesA {
    width: 300px;
    height: 200px;
    margin: 20px;
    margin-top: 29%;
    border: solid 1px;
    border-radius: 9px;
}


.titulosDivA {
    width: 300px;
    height: 250px;
    text-align: center;
    margin-left: 20px;
}

.imagenesB {
    width: 300px;
    height: 200px;
    margin: 20px;
    margin-top: 29%;
    border: solid 1px;
    border-radius: 9px;
}


.titulosDivB {
    width: 300px;
    height: 250px;
    text-align: center;
    margin-left: 20px;
}

.claseP {
    margin-bottom: 5px;

    padding: 8px;
    margin-left: 13%;
    border-radius: 9px;
}

.cssFont_1 {
    font-family: 'Pacifico', cursive;
    font-size: 72px;
    letter-spacing: 1px;
    word-spacing: 13px;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    font-style: oblique;
    font-variant: normal;
    text-transform: uppercase;
    position: absolute;
    margin-top: 14%;
    z-index: 9999;
    margin-left: 37%;
    box-shadow: 0 0 12px 8px white;
    border-radius: 27px;
}
.es{

}

.logan{

}
@keyframes pulse {
    50% {
        transform: scale(1.5);
    }
}
